In [1]:
import pandas as pd

In [7]:
df=pd.read_excel('Pineapple.xlsx', header=1)
df

     State     District                                       Arrivals       Min Price        Max Price         Modal Price      Reported
0                       Market Name    Variety    Group
1     Name      Name                                ...
2     Madhya                                        ...
3     Bhopal        Bhopal(F&V)    Other      Fruits...
4     Pradesh                                       ...
...                                                 ...
4443  Pradesh                        Apple          ...
4444  Madhya                         Pine           ...
4445  Ujjain   Ujjain(F&V)           Fruits   0.02 3...
4446  Pradesh                        Apple          ...
4447                                            _x000C_

[4448 rows x 1 columns]