In [1]:
import pandas as pd
import os

In [37]:
folder_path = "dataset xlsx"

In [38]:
file_list = [f for f in os.listdir(folder_path) if f.endswith('.xlsx')]

In [84]:
# dataframes = {}
main_df = pd.DataFrame()
i = 0
for file in file_list:
    file_path = os.path.join(folder_path, file)
    df_name = 'df' + str(i)  # This will create names like 'df0', 'df1', etc.
    df = pd.read_excel(file_path, header=1)
    crop_name = file[:-5]   # Assuming file names end with '.xlsx'
    df['Crop'] = crop_name  # Add a column with the crop name from the file name
    main_df = pd.concat([main_df, df], axis= 0, ignore_index= True) 
    i += 1

In [85]:
main_df.tail()

,State Name,District Name,Market Name,Variety,Group,Arrivals (Tonnes),Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Reported Date,Crop
71815,Madhya Pradesh,Ujjain,Ujjain(F&V),Peas Wet,Vegetables,1.3,800.0,1700.0,1300.0,2018-01-05,Peas Wet
71816,Madhya Pradesh,Ujjain,Ujjain(F&V),Peas Wet,Vegetables,1.5,800.0,2000.0,1300.0,2018-01-04,Peas Wet
71817,Madhya Pradesh,Ujjain,Ujjain(F&V),Peas Wet,Vegetables,1.5,800.0,1700.0,1300.0,2018-01-03,Peas Wet
71818,Madhya Pradesh,Ujjain,Ujjain(F&V),Peas Wet,Vegetables,1.0,800.0,1600.0,1400.0,2018-01-02,Peas Wet
71819,Madhya Pradesh,Ujjain,Ujjain(F&V),Peas Wet,Vegetables,1.2,800.0,1700.0,1400.0,2018-01-01,Peas Wet

In [86]:
main_df['Crop'].unique()

array(['Karbuja', 'Kartali', 'Kinnow', 'Kodo Millet(Varagu)',
       'Kulthi(Horse Gram)', 'Lak(Teora)', 'Leafy Vegetable', 'Lemon',
       'Lime', 'Little gourd (Kundru)', 'Mango', 'Masur Dal',
       'Mint(Pudina)', 'Mousambi(Sweet Lime)', 'Mustard Oil',
       'Myrobolan(Harad)', 'Neem Seed', 'Orange', 'Paddy(Dhan)(Basmati)',
       'Papaya (Raw)', 'Papaya', 'Pear(Marasebu)', 'Peas cod', 'Peas Wet'],
      dtype=object)

In [87]:
main_df.columns

Index(['State Name', 'District Name', 'Market Name', 'Variety', 'Group',
       'Arrivals (Tonnes)', 'Min Price (Rs./Quintal)',
       'Max Price (Rs./Quintal)', 'Modal Price (Rs./Quintal)', 'Reported Date',
       'Crop'],
      dtype='object')

In [88]:
main_df.drop(columns='State Name', inplace = True)

In [89]:
main_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71820 entries, 0 to 71819
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   District Name              71820 non-null  object
 1   Market Name                71820 non-null  object
 2   Variety                    71820 non-null  object
 3   Group                      71820 non-null  object
 4   Arrivals (Tonnes)          68349 non-null  object
 5   Min Price (Rs./Quintal)    71820 non-null  float64
 6   Max Price (Rs./Quintal)    71820 non-null  float64
 7   Modal Price (Rs./Quintal)  71820 non-null  float64
 8   Reported Date              71820 non-null  datetime64[ns]
 9   Crop                       71820 non-null  object
dtypes: datetime64[ns](1), float64(3), object(6)
memory usage: 5.5+ MB

In [90]:
main_df.isna().sum()

District Name                   0
Market Name                     0
Variety                         0
Group                           0
Arrivals (Tonnes)            3471
Min Price (Rs./Quintal)         0
Max Price (Rs./Quintal)         0
Modal Price (Rs./Quintal)       0
Reported Date                   0
Crop                            0
dtype: int64

In [91]:
# main_df['Arrivals (Tonnes)']=main_df['Arrivals (Tonnes)']

In [92]:
def Arrivals_column_cleaning(df, col): # dtype was object, so to change to float

        def clean(arrival):
            if isinstance(arrival, str):
                return arrival.replace(',', '')
            else:
                return arrival
        df[col]=df[col].apply(clean)
        
        # df[col]=df[col].str.replace(',','')
        df[col]=df[col].astype(float)
        return df[col]

In [93]:
main_df['Arrivals (Tonnes)'] = Arrivals_column_cleaning(main_df, 'Arrivals (Tonnes)')

In [94]:
main_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71820 entries, 0 to 71819
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   District Name              71820 non-null  object
 1   Market Name                71820 non-null  object
 2   Variety                    71820 non-null  object
 3   Group                      71820 non-null  object
 4   Arrivals (Tonnes)          68349 non-null  float64
 5   Min Price (Rs./Quintal)    71820 non-null  float64
 6   Max Price (Rs./Quintal)    71820 non-null  float64
 7   Modal Price (Rs./Quintal)  71820 non-null  float64
 8   Reported Date              71820 non-null  datetime64[ns]
 9   Crop                       71820 non-null  object
dtypes: datetime64[ns](1), float64(4), object(5)
memory usage: 5.5+ MB

In [95]:
main_df['Arrivals (Tonnes)']=main_df['Arrivals (Tonnes)']*9

In [53]:
main_df.to_csv('final_crop_dataset.csv', index=False)