In [1]:
import pandas as pd
import os

In [2]:
folder_path = "dataset xlsx"

In [3]:
file_list = [f for f in os.listdir(folder_path) if f.endswith('.xlsx')]

In [18]:
# dataframes = {}
main_df = pd.DataFrame()
i = 0
for file in file_list:
    file_path = os.path.join(folder_path, file)
    df_name = 'df' + str(i)  # This will create names like 'df0', 'df1', etc.
    df = pd.read_excel(file_path, header=1)
    crop_name = file[:-5]   # Assuming file names end with '.xlsx'
    df['Crop'] = crop_name  # Add a column with the crop name from the file name
    main_df = pd.concat([main_df, df], axis= 0) 
    i += 1

In [19]:
main_df.head()

,State Name,District Name,Market Name,Variety,Group,Arrivals (Tonnes),Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Reported Date,Crop,State District Arrivals Min Price Max Price Modal Price Reported,State District Arrivals Min Price Max Price Modal Price Reported
0,Madhya Pradesh,Bhopal,Bhopal(F&V),Other,Fruits,4.0,800.0,1200.0,1000.0,2023-06-22,Karbuja,NaN,NaN
1,Madhya Pradesh,Bhopal,Bhopal(F&V),Other,Fruits,12.0,600.0,1000.0,800.0,2023-06-15,Karbuja,NaN,NaN
2,Madhya Pradesh,Bhopal,Bhopal(F&V),Other,Fruits,11.0,600.0,1000.0,800.0,2023-06-14,Karbuja,NaN,NaN
3,Madhya Pradesh,Bhopal,Bhopal(F&V),Other,Fruits,5.0,600.0,1000.0,800.0,2023-06-13,Karbuja,NaN,NaN
4,Madhya Pradesh,Bhopal,Bhopal(F&V),Other,Fruits,2.0,600.0,1000.0,800.0,2023-06-12,Karbuja,NaN,NaN

In [20]:
main_df['Crop'].unique()

array(['Karbuja', 'Kartali', 'Kinnow', 'Kodo Millet(Varagu)',
       'Kulthi(Horse Gram)', 'Lak(Teora)', 'Leafy Vegetable', 'Lemon',
       'Lime', 'Little gourd (Kundru)', 'Mahua-Seed_Hippe-seed_', 'Mahua',
       'Mango', 'Masur Dal', 'Mint(Pudina)', 'Mousambi(Sweet Lime)',
       'Mustard Oil', 'Myrobolan(Harad)', 'Neem Seed', 'Orange',
       'Paddy(Dhan)(Basmati)', 'Papaya (Raw)', 'Papaya', 'Pear(Marasebu)',
       'Peas cod', 'Peas Wet'], dtype=object)

In [22]:
main_df.columns

Index(['State Name', 'District Name', 'Market Name', 'Variety', 'Group',
       'Arrivals (Tonnes)', 'Min Price (Rs./Quintal)',
       'Max Price (Rs./Quintal)', 'Modal Price (Rs./Quintal)', 'Reported Date',
       'Crop',
       'State      District                                       Arrivals       Min Price        Max Price         Modal Price      Reported',
       'State      District                                        Arrivals       Min Price        Max Price         Modal Price      Reported'],
      dtype='object')

In [24]:
main_df.drop(columns = ['State      District                                       Arrivals       Min Price        Max Price         Modal Price      Reported'])

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
7376    NaN
7377    NaN
7378    NaN
7379    NaN
7380    NaN
Name: State      District                                       Arrivals       Min Price        Max Price         Modal Price      Reported, Length: 86512, dtype: object