In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('final_crop_dataset.csv')
df.head()

,District Name,Market Name,Variety,Group,Arrivals (Tonnes),Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Reported Date,Crop
0,Bhopal,Bhopal(F&V),Other,Fruits,36.0,800.0,1200.0,1000.0,2023-06-22,Karbuja
1,Bhopal,Bhopal(F&V),Other,Fruits,108.0,600.0,1000.0,800.0,2023-06-15,Karbuja
2,Bhopal,Bhopal(F&V),Other,Fruits,99.0,600.0,1000.0,800.0,2023-06-14,Karbuja
3,Bhopal,Bhopal(F&V),Other,Fruits,45.0,600.0,1000.0,800.0,2023-06-13,Karbuja
4,Bhopal,Bhopal(F&V),Other,Fruits,18.0,600.0,1000.0,800.0,2023-06-12,Karbuja

In [5]:
df['Crop'].unique()

array(['Karbuja', 'Kartali', 'Kinnow', 'Kodo Millet(Varagu)',
       'Kulthi(Horse Gram)', 'Lak(Teora)', 'Leafy Vegetable', 'Lemon',
       'Lime', 'Little gourd (Kundru)', 'Mango', 'Masur Dal',
       'Mint(Pudina)', 'Mousambi(Sweet Lime)', 'Mustard Oil',
       'Myrobolan(Harad)', 'Neem Seed', 'Orange', 'Paddy(Dhan)(Basmati)',
       'Papaya (Raw)', 'Papaya', 'Pear(Marasebu)', 'Peas cod', 'Peas Wet'],
      dtype=object)

In [6]:
df['District Name'].unique()

array(['Bhopal', 'Burhanpur', 'Chhindwara', 'Narsinghpur', 'Guna',
       'Harda', 'Indore', 'Hoshangabad', 'Katni', 'Gwalior', 'Morena',
       'Jhabua', 'Satna', 'Badwani', 'Singroli', 'Sheopur', 'Ujjain',
       'Anupur', 'Rewa', 'Balaghat', 'Shehdol', 'Mandla', 'Seoni',
       'Dindori', 'Sidhi', 'Umariya', 'Panna', 'Khargone', 'Chhatarpur',
       'Raisen', 'Dhar', 'Sagar', 'Sehore', 'Ratlam', 'Shivpuri',
       'Khandwa', 'Mandsaur', 'Jabalpur', 'Ashoknagar', 'Vidisha',
       'Bhind', 'Betul', 'Damoh', 'Rajgarh', 'Alirajpur', 'Datia',
       'Shajapur', 'Dewas'], dtype=object)